*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }

.section {
	overflow: hidden;
	position: relative;
	height: 100vh;
	min-height: 800px;
	max-height: 1200px;
	padding: 7vmax;
}
